mixin accessories()
  section.accessories
    .container
      .accessories__wrp
        h3.accessories__title Аксессуары
        p.
          Также успешно отвечает потребностямы участка подряда наааа всех различныххх экспортных рынках, несмотря на их широко различныыыыыы ые
          требования, состязаясь эффек т ттт ттата тта т тата татта та та ат ат тата та ттттттт и в подгонке продукта и в различных дтт широта своеееееееего ассортимента.
      .accessories__cards
        .accessories__card
          img(src="static/images/A1.jpg" alt="a1")
          .accessories__box
            a.accessories__link(href="") сушки для посуды
        .accessories__card
          img(src="static/images/A2.jpg" alt="a2")
          .accessories__box
            a.accessories__link(href="") сушки для посуды
        .accessories__card
          img(src="static/images/A3.jpg" alt="a3")
          .accessories__box
            a.accessories__link(href="") сушки для посуды
        .accessories__card
          img(src="static/images/A4.jpg" alt="a4")
          .accessories__box
            a.accessories__link(href="") сушки для посуды
        .accessories__card
          img(src="static/images/A5.jpg" alt="a5")
          .accessories__box
            a.accessories__link(href="") сушки для посуды
        .accessories__card
          img(src="static/images/A6.jpg" alt="a6")
          .accessories__box
            a.accessories__link(href="") сушки для посуды
