include ../mixins/title.pug

mixin collection()
  section.collection
    .container
      .collection__wrp
        +title('Бесценная', 'Коллекция')
        .collection__text
          p.
            Добро пожаловать в клуб Particella!Введите код продукта, который выыыыыы найдете в папке в наборе “кухни”, удобной коробке чистящих
            ссссссссредств, которую вы получили с ввввввашей кухней, присоединяйтесь к нам в центре нашего проекта впвпвввппdбббудовлетворенности клиентов
      .collection__cards
        .collection__card
          img(src="static/images/card1.jpg" alt="card1")
          .collection__card-description
            .collection__card-wrp
              p Данный кухонный ййййййййй гарниотличной оснойййй ййй уютного интерьер создании и икухниииииииии
              .collection__link-wrp
                a.collection__link(href="") подробнее
        .collection__card
          img(src="static/images/card2.jpg" alt="card1")
          .collection__card-description
            .collection__card-wrp
              p Данный кухонный ййййййййй гарниотличной оснойййй ййй уютного интерьер создании и икухниииииииии
              .collection__link-wrp
                a.collection__link(href="") подробнее
        .collection__card
          img(src="static/images/card3.jpg" alt="card1")
          .collection__card-description
            .collection__card-wrp
              p Данный кухонный ййййййййй гарниотличной оснойййй ййй уютного интерьер создании и икухниииииииии
              .collection__link-wrp
                a.collection__link(href="") подробнее
        .collection__card
          img(src="static/images/card4.jpg" alt="card1")
          .collection__card-description
            .collection__card-wrp
              p Данный кухонный ййййййййй гарниотличной оснойййй ййй уютного интерьер создании и икухниииииииии
              .collection__link-wrp
                a.collection__link(href="") подробнее
      .collection__wrp
        p.
          Добро пожаловать в клуб Particella! Введите код продукта, который выыыыыы найдете в папке в наборе “кухни”, удобной коробке чистящих
          ссссссссредств, которую вы получили с ввввввашей кухней, присоединяйтесь к нам в центре нашего проекта впвпвввппdбббудовлетворенности клиентов