mixin comments()
  section.comments
    .container
      .comments__wrp
        .comments__clients
          h3.comments__title Отзывы наших клиентов
          .commetns__container
            .comments__comment
              .comments__avatar
                img(src="static/images/quote.png" alt="avatar")
              .comments__author
                .comments__name Ольга Бузова
                .comments__text начала мне показалось,что адилтадитfgjggggдатлидати sacacsscssvsdbsrhrnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn lkclkclsnclnkclcnlsnlslnsncslsns
            .comments__comment
              .comments__avatar
                img(src="static/images/quote.png" alt="avatar")
              .comments__author
                .comments__name Ольга Бузова
                .comments__text начала мне показалось,что адилтадитfgjggggдатлидати sacacsscssvsdbsrhrnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn lkclkclsnclnkclcnlsnlslnsncslsns
          .comments__btns
            .comments__btn
            .comments__btn
            .comments__btn
        .comments__add
          form(class="comments__form" method="post")
            button(class="comments__form-btn" type="submit") оставить отзыв
            input(class="comments__input-name" type="text" name="person-name")
            textarea(class="comments__textarea")