mixin footer()
  footer.footer
    .container
      .footer__wrp
        .footer__contacts-wrp
          .footer__contacts-title
            .footer__contacts-title-text Контакты
          .footer__contacts-container
            .footer__contacts-field Тел:
              a(href="tel:+86666666666") 8 666 666 6666
            .footer__contacts-field Почта:
              a(href="mailto:Particella@gmail.com") Particella@gmail.com
            .footer__contacts-field Адрес:
              span Ульяновск, Радищева, дом 5
        .footer__socials-wrp
          .footer__socials-box
            a(class="footer__socials-link" href="")
              include ../../static/svg/inst.svg
            a(class="footer__socials-link" href="")
              include ../../static/svg/inst.svg
            a(class="footer__socials-link" href="")
              include ../../static/svg/inst.svg
        .footer__copyright
          .footer__copyright-wrp
            .footer__copyright-company Copyright 2019 Кухни
            p.
              Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Ad adipisci deserunt dolore dolores eius, magnam nobis nulla porro
              reprehenderit ut!
            .footer__copyright-links
              a(class="footer__copyright-link" href="") Карта сайта
              a(class="footer__copyright-link" href="") Ссылка на соут