mixin headerTop()
  .header-top
    .container
      nav.header-top__nav
        ul.header-top__list
          li.header-top__list-item
            a.header-top__link(href="") о нас
          li.header-top__list-item
            a.header-top__link(href="") команда
          li.header-top__list-item
            a.header-top__link(href="") стили
          li.header-top__list-item
            a.header-top__link(href="") портфолио
          li.header-top__list-item
            a.header-top__link(href="") аксессуары
          li.header-top__list-item
            a.header-top__link(href="") материал
          li.header-top__list-item
            a.header-top__link(href="") контакты