mixin kitchenSlider()
  .kitchen-slider
    .kitchen-slider__btns
      .kitchen-slider__btn
      .kitchen-slider__btn
      .kitchen-slider__btn
    img(src="static/images/kitchenSl.jpg" alt="kitchen")
    .kitchen-slider__header
      .container
        p Кухонные гарнитуры нашего производства прекрасно <br> впишутся в интерьер Вашего дома
