mixin map()
  .map
    div(class="map__container" style="position:relative;overflow:hidden;")
      a(href="https://yandex.ru/maps/195/ulyanovsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;") Ульяновск
      a(href="https://yandex.ru/maps/195/ulyanovsk/house/ulitsa_radishcheva_4/YEEYcgdlTUYFQFtufX9zcHRgbA==/?ll=48.405432%2C54" + ".321838&utm_medium=mapframe&utm_source=maps&z=17.05" style="color:#eee;font-size:12px;position:absolute;top:14px;") Улица Радищева, 4 — Яндекс.Карты
      iframe(src="https://yandex.ru/map-widget/v1/-/CKqaBH2w" allowfullscreen="true" style="position:relative;")