//colors
$black: #000000;
$gray38: #383737;
$gray61: #616161;
$gray68: #686868;
$gray4B: #4B4A4A;
$grayA5: #A5A59E;
$white: #ffffff;
$whiteC4: #C4C4C4;
$whiteEA: #EAEAEA;
$whiteF5: #F5F6F0;
$greenEC: #ECF8D3;
//font
$Montserrat: "Montserrat";

//devices
$laptop-max: 1024px;
$laptop: 768px;
