extends layout/layout.pug

include blocks/header.pug
include blocks/collection.pug
include blocks/kitchenSlider.pug
include blocks/styles.pug
include blocks/accessories.pug
include blocks/comments.pug
include blocks/feedback.pug
include blocks/map.pug
include blocks/footer.pug


block styles
  link(rel="stylesheet" href="css/index.css")
block title
  | Test
block content
  +header()
  main.main
    +collection()
    +kitchenSlider()
    +styles()
    +accessories()
    +comments()
    +feedback()
    +map()
  +footer()


block scripts
  script(src="js/index.js")

