@font-face {
    font-family: 'Montserrat';
    src: url('../static/font/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../static/font/Montserrat/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../static/font/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../static/font/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../static/font/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('../static/font/Montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../static/font/Montserrat/Montserrat-Black.woff2') format('woff2'),
    url('../static/font/Montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../static/font/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('../static/font/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

